PORT=8080
DATABASE_URL=mongodb+srv://user:password@cluster.mongodb.net/
DB_NAME=
JWT_PUBLIC_KEY=your-rsa-public-key-pem-here
ALLOWED_ORIGINS=http://localhost:3000
TRACER_SERVICE_URL=
TRACER_SERVICE_KEY=
PUBSUB_PROJECT_ID=
RUBE_OWID_NEXT_URL=http://localhost:4002
PUBSUB_TOPIC_INTERVIEW_SCHEDULED=
PUBSUB_TOPIC_RUBE_OWID=
